@use '../globales/variables' as v;
@use '../globales/mixin' as m;

footer {
    background-color: blueviolet;
    margin-top: 65px;
    color: #FFF;
    padding: 20px 0 0 0;
    text-align: center;
    font-family: "Poppins";
    .h2{
    text-align: left;
    display: flex;
    }
    .informacion{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        a{
            font-weight: bold;
        text-transform: uppercase;
            color: white;
            text-decoration: none;
        }
    }
} 

.footer-index{
    margin-top: 5000px;
    @media only screen and (min-width:401px) and (max-width: 630px){
        margin-top: 4800px;
    }
    @media only screen and (min-width:631px) and (max-width: 700px){
        margin-top: 1220px;
    }
    @media only screen and (min-width:701px) and (max-width: 767px){
        margin-top: 120px;
    }
    @include m.tablet{
        margin-top: 65px;
    }
}
